<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ocr/cars/red_car_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{134,291}</string>
    <key>spriteSourceSize</key>
    <string>{150,304}</string>
    <key>textureRect</key>
    <string>{{642,888},{134,291}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/cars/red_car_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,1}</string>
    <key>spriteSize</key>
    <string>{138,291}</string>
    <key>spriteSourceSize</key>
    <string>{150,304}</string>
    <key>textureRect</key>
    <string>{{502,888},{138,291}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/cars/red_car_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,1}</string>
    <key>spriteSize</key>
    <string>{136,291}</string>
    <key>spriteSourceSize</key>
    <string>{150,304}</string>
    <key>textureRect</key>
    <string>{{1028,0},{136,291}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/cars/red_car_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{132,292}</string>
    <key>spriteSourceSize</key>
    <string>{150,304}</string>
    <key>textureRect</key>
    <string>{{778,888},{132,292}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/cars/red_car_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{136,290}</string>
    <key>spriteSourceSize</key>
    <string>{150,304}</string>
    <key>textureRect</key>
    <string>{{1028,293},{136,290}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/cars/yellow_car</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{136,278}</string>
    <key>spriteSourceSize</key>
    <string>{150,298}</string>
    <key>textureRect</key>
    <string>{{1028,585},{136,278}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/road/mark_finish</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{320,99}</string>
    <key>spriteSourceSize</key>
    <string>{320,99}</string>
    <key>textureRect</key>
    <string>{{0,1076},{320,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/road/mark_start</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{320,99}</string>
    <key>spriteSourceSize</key>
    <string>{320,99}</string>
    <key>textureRect</key>
    <string>{{912,888},{320,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/road/tile_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{500,372}</string>
    <key>spriteSourceSize</key>
    <string>{500,372}</string>
    <key>textureRect</key>
    <string>{{0,514},{500,372}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/road/tile_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{500,372}</string>
    <key>spriteSourceSize</key>
    <string>{500,372}</string>
    <key>textureRect</key>
    <string>{{502,514},{500,372}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/road/tile_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{500,186}</string>
    <key>spriteSourceSize</key>
    <string>{500,186}</string>
    <key>textureRect</key>
    <string>{{0,888},{500,186}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/terrain/grass</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{512,512}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{514,0},{512,512}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/terrain/soil</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{512,512}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,0},{512,512}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/ui_road/gear_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{1166,0},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/ui_road/gear_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{1166,114},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/ui_road/gear_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{1166,57},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/ui_road/gear_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{1166,171},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/ui_road/hp_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,55}</string>
    <key>spriteSourceSize</key>
    <string>{68,55}</string>
    <key>textureRect</key>
    <string>{{322,1076},{68,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/ui_road/hp_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,55}</string>
    <key>spriteSourceSize</key>
    <string>{68,55}</string>
    <key>textureRect</key>
    <string>{{392,1076},{68,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/ui_road/hp_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,55}</string>
    <key>spriteSourceSize</key>
    <string>{68,55}</string>
    <key>textureRect</key>
    <string>{{912,1046},{68,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/ui_road/hp_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,55}</string>
    <key>spriteSourceSize</key>
    <string>{68,55}</string>
    <key>textureRect</key>
    <string>{{982,989},{68,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr/ui_road/hp_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,55}</string>
    <key>spriteSourceSize</key>
    <string>{68,55}</string>
    <key>textureRect</key>
    <string>{{912,989},{68,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1234,1182}</string>
   <key>textureFileName</key>
   <string>road_scene.png</string>
  </dict>
 </dict>
</plist>
