<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>road_scene/police_car</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{86,179}</string>
    <key>spriteSourceSize</key>
    <string>{90,191}</string>
    <key>textureRect</key>
    <string>{{302,338},{86,179}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>road_scene/red_car</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{72,155}</string>
    <key>spriteSourceSize</key>
    <string>{80,162}</string>
    <key>textureRect</key>
    <string>{{390,338},{72,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>road_scene/road_tile_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,223}</string>
    <key>spriteSourceSize</key>
    <string>{300,223}</string>
    <key>textureRect</key>
    <string>{{0,0},{300,223}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>road_scene/road_tile_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,223}</string>
    <key>spriteSourceSize</key>
    <string>{300,223}</string>
    <key>textureRect</key>
    <string>{{0,225},{300,223}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>road_scene/road_tile_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,111}</string>
    <key>spriteSourceSize</key>
    <string>{300,111}</string>
    <key>textureRect</key>
    <string>{{302,225},{300,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>road_scene/soil_tile</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{223,223}</string>
    <key>spriteSourceSize</key>
    <string>{223,223}</string>
    <key>textureRect</key>
    <string>{{302,0},{223,223}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>road_scene/yellow_car</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,149}</string>
    <key>spriteSourceSize</key>
    <string>{80,159}</string>
    <key>textureRect</key>
    <string>{{527,0},{72,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{604,519}</string>
   <key>textureFileName</key>
   <string>road_scene.png</string>
  </dict>
 </dict>
</plist>
