<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ocr_game/cars/police_car</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{86,179}</string>
    <key>spriteSourceSize</key>
    <string>{90,191}</string>
    <key>textureRect</key>
    <string>{{302,225},{86,179}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/cars/red_car_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{71,156}</string>
    <key>spriteSourceSize</key>
    <string>{79,162}</string>
    <key>textureRect</key>
    <string>{{390,383},{71,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/cars/red_car_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{73,156}</string>
    <key>spriteSourceSize</key>
    <string>{79,162}</string>
    <key>textureRect</key>
    <string>{{302,406},{73,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/cars/red_car_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{73,156}</string>
    <key>spriteSourceSize</key>
    <string>{79,162}</string>
    <key>textureRect</key>
    <string>{{390,225},{73,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/cars/red_car_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{69,156}</string>
    <key>spriteSourceSize</key>
    <string>{79,162}</string>
    <key>textureRect</key>
    <string>{{527,0},{69,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/cars/red_car_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{72,155}</string>
    <key>spriteSourceSize</key>
    <string>{80,162}</string>
    <key>textureRect</key>
    <string>{{465,225},{72,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/cars/yellow_car</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,149}</string>
    <key>spriteSourceSize</key>
    <string>{80,159}</string>
    <key>textureRect</key>
    <string>{{463,383},{72,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/terrain/road_tile_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,223}</string>
    <key>spriteSourceSize</key>
    <string>{300,223}</string>
    <key>textureRect</key>
    <string>{{0,0},{300,223}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/terrain/road_tile_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,223}</string>
    <key>spriteSourceSize</key>
    <string>{300,223}</string>
    <key>textureRect</key>
    <string>{{0,225},{300,223}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/terrain/road_tile_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,111}</string>
    <key>spriteSourceSize</key>
    <string>{300,111}</string>
    <key>textureRect</key>
    <string>{{0,450},{300,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/terrain/soil_tile</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{223,223}</string>
    <key>spriteSourceSize</key>
    <string>{223,223}</string>
    <key>textureRect</key>
    <string>{{302,0},{223,223}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/ui_road/hp_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,55}</string>
    <key>spriteSourceSize</key>
    <string>{68,55}</string>
    <key>textureRect</key>
    <string>{{527,158},{68,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/ui_road/hp_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,55}</string>
    <key>spriteSourceSize</key>
    <string>{68,55}</string>
    <key>textureRect</key>
    <string>{{0,563},{68,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/ui_road/hp_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,55}</string>
    <key>spriteSourceSize</key>
    <string>{68,55}</string>
    <key>textureRect</key>
    <string>{{140,563},{68,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/ui_road/hp_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,55}</string>
    <key>spriteSourceSize</key>
    <string>{68,55}</string>
    <key>textureRect</key>
    <string>{{210,563},{68,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/ui_road/hp_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,55}</string>
    <key>spriteSourceSize</key>
    <string>{68,55}</string>
    <key>textureRect</key>
    <string>{{70,563},{68,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{598,620}</string>
   <key>textureFileName</key>
   <string>road_scene.png</string>
  </dict>
 </dict>
</plist>
