<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ocr_game/main/background</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{223,223}</string>
    <key>spriteSourceSize</key>
    <string>{223,223}</string>
    <key>textureRect</key>
    <string>{{362,0},{223,223}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/main/base_window</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{360,404}</string>
    <key>spriteSourceSize</key>
    <string>{360,404}</string>
    <key>textureRect</key>
    <string>{{0,0},{360,404}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/main/button_close</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,51}</string>
    <key>spriteSourceSize</key>
    <string>{50,51}</string>
    <key>textureRect</key>
    <string>{{362,331},{50,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/main/button_play</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,51}</string>
    <key>spriteSourceSize</key>
    <string>{50,51}</string>
    <key>textureRect</key>
    <string>{{362,225},{50,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/main/button_replay</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,51}</string>
    <key>spriteSourceSize</key>
    <string>{50,51}</string>
    <key>textureRect</key>
    <string>{{414,225},{50,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/main/button_settings</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,51}</string>
    <key>spriteSourceSize</key>
    <string>{50,51}</string>
    <key>textureRect</key>
    <string>{{362,278},{50,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{587,406}</string>
   <key>textureFileName</key>
   <string>ui_scene.png</string>
  </dict>
 </dict>
</plist>
