<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ocr_game/buttons/indicator_off</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{29,70}</string>
    <key>spriteSourceSize</key>
    <string>{29,70}</string>
    <key>textureRect</key>
    <string>{{463,622},{29,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/buttons/indicator_on</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{29,70}</string>
    <key>spriteSourceSize</key>
    <string>{29,70}</string>
    <key>textureRect</key>
    <string>{{658,625},{29,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/buttons/left</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{59,110}</string>
    <key>spriteSourceSize</key>
    <string>{59,110}</string>
    <key>textureRect</key>
    <string>{{402,622},{59,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/buttons/right</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{59,110}</string>
    <key>spriteSourceSize</key>
    <string>{59,110}</string>
    <key>textureRect</key>
    <string>{{904,514},{59,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/main/base_window</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{500,620}</string>
    <key>spriteSourceSize</key>
    <string>{500,620}</string>
    <key>textureRect</key>
    <string>{{0,0},{500,620}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/main/button_base</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{400,109}</string>
    <key>spriteSourceSize</key>
    <string>{400,109}</string>
    <key>textureRect</key>
    <string>{{0,622},{400,109}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/main/button_base2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{400,109}</string>
    <key>spriteSourceSize</key>
    <string>{400,109}</string>
    <key>textureRect</key>
    <string>{{502,514},{400,109}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/main/button_close</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,51}</string>
    <key>spriteSourceSize</key>
    <string>{50,51}</string>
    <key>textureRect</key>
    <string>{{606,625},{50,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/main/button_play</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,51}</string>
    <key>spriteSourceSize</key>
    <string>{50,51}</string>
    <key>textureRect</key>
    <string>{{502,625},{50,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/main/button_replay</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,51}</string>
    <key>spriteSourceSize</key>
    <string>{50,51}</string>
    <key>textureRect</key>
    <string>{{502,678},{50,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/main/button_settings</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,51}</string>
    <key>spriteSourceSize</key>
    <string>{50,51}</string>
    <key>textureRect</key>
    <string>{{554,625},{50,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ocr_game/main/grass</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{512,512}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{502,0},{512,512}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1016,734}</string>
   <key>textureFileName</key>
   <string>ui_scene.png</string>
  </dict>
 </dict>
</plist>
