.cocos-project.json
/linux-build
/bin
/cocos2d

#qt-creator stuff
OaksleepCityRacing*.cflags
OaksleepCityRacing*.config
OaksleepCityRacing*.creator
OaksleepCityRacing*.creator.user
OaksleepCityRacing*.cxxflags
OaksleepCityRacing*.files
OaksleepCityRacing*.includes